# Tuplas

### Estrutura:

tupla = (valor, valor, valor, ...)

### Diferença

Parece uma lista, mas é imutável.

### Vantagens:

- Mais eficiente (em termos de performance)
- Protege a base de dados (por ser imutável)
- Muito usado para dados heterogêneos

### Criando tuplas

In [2]:
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
print(vendas)

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

### Acessando o valor de uma tupla

In [4]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

print(salario)

2000

In [5]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

# tem que ter a mesma qtde de variaveis para tuplas e tem que segurir a ordem dos valores.

nome, data_contratacao, data_nascimento, salario, cargo = vendas
print(nome)

Lira

In [6]:
nome, data_contratacao, data_nascimento, salario, cargo = vendas
print(salario)

2000

- o enumerate que vinhamos usando até agora, na verdade, cria uma tupla para a gente. Vamos ver na pratica:

In [8]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['Joao', 'Lira', 'Ana', 'Maria', 'Paula']

for i, venda in enumerate(vendas):
    print('{} vendeu {} unidades '. format(funcionarios[i], venda))

Joao vendeu 1000 unidades
Lira vendeu 2000 unidades
Ana vendeu 300 unidades
Maria vendeu 300 unidades
Paula vendeu 150 unidades